.MyInputPost {
    display: flex;
    width: 400px;
    margin: 10px;
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #323030;
    border: 3px solid #CDBEA7;
    border-radius: 4px;
}